@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
body {
  font-family: "Nunito", sans-serif;
}
#menu,
#menu-bar,
#category-top {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#menu::-webkit-scrollbar,
#category-top::-webkit-scrollbar {
  display: none;
}
